#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  qbittorrent-app.service
BindsTo=ns8-qbittorrent.service
After=ns8-qbittorrent.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
EnvironmentFile=-%S/state/volume-qbittorrent.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p tmp
ExecStartPre=/bin/rm -f %t/qbittorrent-app.pid %t/qbittorrent-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/qbittorrent-app.pid  --cidfile %t/qbittorrent-app.ctr-id --cgroups=no-conmon  --pod-id-file %t/ns8-qbittorrent.pod-id --replace -d --name  qbittorrent-app  --volume ${CONFIG_DIR}:/config:Z --volume ${DOWNLOADS_DIR}:/downloads:Z  ${QBITTORRENT_IMAGE}  
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/qbittorrent-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP qbittorrent-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/qbittorrent-app.ctr-id
PIDFile=%t/qbittorrent-app.pid
Type=forking

[Install]
WantedBy=default.target
